header.header.headroom role="banner"
  .header__inner 
    a href="index.html"
      img src="./target/img/IanIllustration.png" class="banner__img" alt="Illustration of Ian"
        nav.header__nav role="navigation"
          a.blockLink.blockLink__nav.ml1 href="./work.html"<span class="header__link-label">Work</span>
          a.blockLink.blockLink__nav.ml1 href="./articles.html" <span class="header__link-label">Articles</span>
          a.blockLink.blockLink__nav.ml1 href="./about.html" <span class="header__link-label">About</span>
