footer.footer role="contentinfo"          
    p.caption.mb2 
        | Copyright &copy; <span class="yearTarget"></span> Ian Hazelton. All rights reserved.


script
  |
    async src="https://www.googletagmanager.com/gtag/js?id=UA-58683463-1"

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-58683463-1');
