* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $offWhite;
  width: 100vw;
}

a {
  text-decoration: none;
  color: $textPrimary;
}

ul {
  margin: 0 2rem;
}

li {
  padding-bottom: 1rem;
}

.main {
  padding-top: 100px;
}

.wrap_main {
  background-color: $offWhite;
  height: 100%;
  min-height: 200vh;
  padding: 0 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  align-items: center;
  display: flex;
  padding: 2rem 0;
}

.header__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.headroom {
  background-color: #fff;
  transition: transform 300ms linear;     
  position: fixed;
  left: 0;
  right: 0;
  padding: 2rem;
  z-index: 9999999999;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  &--unpinned {
    transform: translateY(-150%);
  }
  &--pinned {
    transform: translateY(0%);
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  float: right;
  margin-left: auto;
  width: auto;
}

.header__title {
  color: $textPrimary !important;
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.intro__header {
  margin: 9rem 0; 
}

.intro__desc {
  color: $lightGrey;
  font-family: 'Muli', sans-serif; 
  font-size: 22px;
}

.intro__cta {
  color: $lightGrey;
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin: 2rem 0 0;
  text-decoration: none;
}


.banner__img {
  width: 40px;
}

.section {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  margin-bottom: 8rem;
  padding: 3rem;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  transform: translateZ(0);
  &:hover {
    box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
    transform: translate(0, -4px);
  }
}
.section__header {
  color: $lightGrey;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.section__footer-link {
  color: $lightGrey;
  font-family: 'Muli', sans-serif;
}


.card__title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card__dec {
  color: $lightGrey;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  // &--profile {
  //   @include breakpoint(md) {
  //     width: 60%;
  // } 
  // }
}

.arrow {
  padding-left: 1rem;
  line-height: 1.2;
  bottom: -4px;
  position: relative;
}




