@import url('https://fonts.googleapis.com/css?family=Chivo:400,400i,700,700i,900,900i|Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

// font-family: 'Chivo', sans-serif;
// font-family: 'Overpass', sans-serif;

$fontSizeOne: 6.7772816512rem;
$fontSizeTwo: 4.1886784rem;
$fontSizeThree: 2.5888rem;
$fontSizeFour: 1.6rem;


html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;    
}

.title {
    color: $textPrimary;
    font-family: 'Chivo', sans-serif;
    //font-size: 3.2rem;
    font-size: $fontSizeTwo;
    font-weight: 700;
    line-height: 40px;
    @include breakpoint(md) {
        font-size: calc(#{$fontSizeTwo} + 150%);
    } 
}


.subtitle {
    color: $textPrimary;
    font-family: 'Chivo', sans-serif;
    //font-size: 2.4rem;
    font-size: $fontSizeThree;
    line-height: 1.2;
    @include breakpoint(md) {
        font-size: calc(#{$fontSizeThree} + 150%);
    } 
}

.sectionTitle {
    color: $lightGrey;
    font-family: 'Overpass', sans-serif;
    //font-size: 2.2rem;
    font-size: $fontSizeThree;
    font-weight: 200;
    @include breakpoint(md) {
        font-size: calc(#{$fontSizeThree} + 150%);
    } 
}

p.bodyText {
    color: $lightGrey;
    font-family: 'Overpass', sans-serif;
    font-size: $fontSizeFour;
    font-weight: 200;
    line-height: 2.7rem;
    @include breakpoint(md) {
        font-size: calc(#{$fontSizeFour} + 40%);
        line-height: 1.6;
    } 
}

a.inline-link {
    border-bottom: 1px dotted $lightGrey;
    color: $lightGrey;
    font-family: 'Overpass', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.7rem;
}

.header__title {
    font-size: 16px;
}

.blockLink {
    color: $textPrimary;
    font-family: 'Overpass', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    text-decoration: none;
    &.header {
        margin-right: 1rem;
    }
}

.caption {
    color: $lightGrey;
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
    line-height: 2.7rem;
    font-size: 1.2rem;
    text-align: center;
}