.mt1 {
	margin-top: .8rem;
}
.mr1 {
	margin-right: .8rem;
}
.mb1 {
	margin-bottom: .8rem;
}
.ml1 {
	margin-left: .8rem;
}
//
.mt2 {
	margin-top: 1.6rem;
}
.mr2 {
	margin-right: 1.6rem;
}
.mb2 {
	margin-bottom: 1.6rem;
}
.ml2 {
	margin-left: 1.6rem;
}
//
.pt2 {
	padding-top: 1.6rem;
}
.pr2 {
	padding-right: 1.6rem;
}
.pb2 {
	padding-bottom: 1.6rem;
}
.pl2 {
	padding-left: 1.6rem;
}

.u_tc {
	text-align: center
}